<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.sh.ideal.mapper.UserMapper">
    <!--目的：为Dao接口方法提供SQL语句-->

    <!--映射实体对象-->
    <resultMap id="UserResultMap" type="cn.sh.ideal.bean.User">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
    </resultMap>

    <insert id="addUser">
        INSERT INTO users(username,password)  VALUES (#{user.username}, #{user.password})
    </insert>

    <select id="findUser" resultType="User">
        SELECT * FROM users WHERE username = #{username}
    </select>

</mapper>